.question{

    &__text{
    font-size: 13px;
    line-height: 1.23;
    color: var(--text-quesion-color);
    text-align: center;
    margin-bottom: 20px;

 @media screen and (min-width: 1200px) {
        max-width: 250px;
        margin-right: 30px;
        margin-bottom: 0;
     }
    }


    &__inner{

   @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
     }
}
    &__form{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;

     @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        flex-direction: row;
     }

 
}

    &__form-field{
        margin-bottom: 20px;

    @media screen and (min-width: 768px) {
     margin-right: 30px;
      margin-bottom: 0;
     }
    
}

    &__input::placeholder{
    font-size: 14px;
    line-height: 1.92;
    text-align: center;
    color: var(--placeholder-color);
    }
}

.question__form-button{
    width: 100%;
    @media screen and (min-width: 768px) {
    width: 255px;
     }
}