:root{
   --text-color:#FFFFFF;
   --title-color:#D4C17F;
   --color-shadows:rgba(212, 193, 127, 0.2);
   --background-color:#242B33;
   --accent-color:#d4c17f;
   --color-shadow:rgba(212, 193, 127, 0.2);
   --text-quesion-color: #E7E7E7;
   --background-color-footer: #2d343c;
   --background-color-table: rgba(255, 255, 255, 0.1);
}